.app {
    background-color: rgb(98, 113, 116);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-main {
    padding: 20px;
    flex-grow: 1;
    overflow: auto;
}

.grid-wrapper {
    display: grid;
    /* gap: 10px; */
    max-width: 600px;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}

.grid-49 {
    grid-template-columns: repeat(7, 1fr);
}

.grid-81 {
    grid-template-columns: repeat(9, 1fr);
}

.grid-100 {
    grid-template-columns: repeat(10, 1fr);
}

.scoreboard {
    display: none;
    justify-content: center;
    gap: 25px;
    color: white;
    user-select: none;
}

.scoreboard>* {
    padding: 8px 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.scoreboard span {
    text-align: left;
    display: inline-block;
    padding-inline: 15px;
    font-weight: 500;
    color: rgb(255, 251, 0);
    width: 20px;
    font-size: larger;
}

.app-toolbar {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.app-toolbar :is(.play-button, .bomb-number, .level-select) {
    width: 100%;
    border: 2px solid rgba(93, 172, 62, 0.39);
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

}

.tile {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: 200ms all;
    cursor: pointer;
    user-select: none;
}

.tile:hover {
    border: 2px solid rgba(255, 255, 255, 1);
}

.tile.selected {
    background-color: rgba(42, 151, 109, 0.5);
}

.bomb-tile {
    background-color: rgba(201, 43, 43, 0.8);
}

.game-result {
    text-align: center;
    color: white;
    position: absolute;
    inset: -15px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar {
    width: 14px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
}

/* DEBUG */

.debug .bomb-tile-debug {
    background-color: rgba(150, 92, 156, 0.8);
}



